.court-time-slot-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-slot {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.time-slot p {
    margin: 5px 0;
}