<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courts</title>
</head>
<body>
<h1>List of Courts</h1>
<table>
    <thead>
    <tr>
        <th>Court ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Club ID</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through the courts and display each row -->

        <tr th:each="court : ${courts}">
            <td th:text="${court.courtId}"></td>
            <td th:text="${court.name}"></td>
            <td th:text="${court.price}"></td>
            <td th:text="${court.clubId}"></td>
        </tr>

    </tbody>
</table>
</body>
</html>
