<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<table style="width:538px;background-color:#393836" align="center" cellspacing="0" cellpadding="0">
    <tbody><tr>
        <td style="height:65px;background-color:#171a21;border-bottom:1px solid #4d4b48;padding:0px">
            <img src="https://ci3.googleusercontent.com/meips/ADKq_NYqbIhErvMKFu7_lCVSaevgNJEvmD5IdhReXorkHyHo3HcL7CtcxXxI4cINza0Qxr6wwKYnYrkQVYdC9l1Qbvo2XUXA3n417uffyABkgxDDMepmG40De6nXbKbGC-FUDD2Zjsfz=s0-d-e1-ft#https://store.steampowered.com/public/shared/images/email/email_header_logo.png" width="538" height="65" alt="Steam" class="CToWUd" data-bit="iit">
        </td>
    </tr>
    <tr>
        <td bgcolor="#17212e">

            <table width="470" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-left:5px;padding-right:5px;padding-bottom:10px">

                <tbody><tr bgcolor="#17212e">
                    <td style="padding-top:32px;padding-bottom:16px">
					<span style="font-size:24px;color:#66c0f4;font-family:Arial,Helvetica,sans-serif;font-weight:bold">
						Dear <strong style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">[[${name}]]</strong>,					</span><br>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:12px;padding-bottom:24px">
					<span style="font-size:17px;color:#c6d4df;font-family:Arial,Helvetica,sans-serif;font-weight:bold">
						<p>You have a play slot for tomorrow at the Club Market has been sold to 尾巴合炉. Your Steam Wallet has been credited 1,223.87 VND.</p>
					</span>
                        <span style="font-size:17px;color:#c6d4df;font-family:Arial,Helvetica,sans-serif;font-weight:bold">
						<p>The purchase price for this item is unusual. Funds received from this sale will be held temporarily.</p>
					</span>
                        <span style="padding-top:12px;font-size:14px;color:#c6d4df;font-family:Arial,Helvetica,sans-serif;font-weight:normal">
						<p>Funds from this sale will be held by Steam for up to five days. In the meantime, the funds will be included in your pending wallet balance. In some situations, Steam Support may reverse the transaction and return the item to your Steam Inventory.</p>
						<p>Steam Support cannot modify or accelerate this process. We apologize for the inconvenience.</p>
					</span>
                        <span style="padding-top:12px;font-size:14px;color:#c6d4df;font-family:Arial,Helvetica,sans-serif;font-weight:normal">
						<p>This email message will serve as your receipt. You can also access your <a style="color:#c6d4df" href="https://store.steampowered.com/account" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://store.steampowered.com/account&amp;source=gmail&amp;ust=1720687211679000&amp;usg=AOvVaw1kydJPc3X0veYCumfvXpOz">Purchase History</a> online at any time.</p>
					</span>
                    </td>
                </tr>
                <tr bgcolor="#121a25">
                    <td style="padding:20px;font-size:12px;line-height:17px;color:#c6d4df;font-family:Arial,Helvetica,sans-serif">
                        <table width="420" cellspacing="4">
                            <tbody><tr><td width="200"><div align="right"><b>M249 | Submerged&nbsp;&nbsp;</b></div></td><td width="202">1,223.87 VND</td></tr>                            <tr>
                                <td width="200"><div align="right"><b>&nbsp;</b></div></td>
                                <td width="202"><hr width="180" color="#cccccc" align="left" size="1" noshade=""></td>
                            </tr>
                            <tr>
                                <td width="200"><div align="right" style="font-size:17px"><b>Total:&nbsp;&nbsp;</b></div></td>
                                <td width="202"><span style="font-size:18px">1,223.87 VND&nbsp;&nbsp;</span></td>
                            </tr>
                            <tr>
                                <td width="200">&nbsp;</td>
                                <td width="202">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="200"><div align="right"><b>Transaction Info&nbsp;&nbsp;</b></div></td>
                                <td width="202">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="200"><div align="right"><b>Confirmation Number&nbsp;&nbsp;</b></div></td>
                                <td width="202">4802597610236275321-<wbr>4802597610236275322</td>
                            </tr>
                            <tr>
                                <td width="200"><div align="right"><b>Date Confirmed&nbsp;&nbsp;</b></div></td>
                                <td width="202">Sun Jul  7 23:23:20 2024</td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px;color:#6d7880;padding-top:16px;padding-bottom:60px">
                        The Steam Support Team<br>
                        <a style="color:#8f98a0" href="https://help.steampowered.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://help.steampowered.com/&amp;source=gmail&amp;ust=1720687211679000&amp;usg=AOvVaw37lm49Qv5KjCZU8pABMynh">https://help.steampowered.com/</a><br>
                    </td>
                </tr>

                </tbody></table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#000000">

            <table width="460" height="55" border="0" align="center" cellpadding="0" cellspacing="0">

                <tbody><tr valign="center">
                    <td width="110">
                        <a href="http://www.valvesoftware.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.valvesoftware.com/&amp;source=gmail&amp;ust=1720687211679000&amp;usg=AOvVaw0tFOtd0BgIonH8NNJRMsF8">
                            <img src="https://ci3.googleusercontent.com/meips/ADKq_NbIu8LXFWutEMxiWYJ8TY6tbthMGfjWuHsnQDiWbybQ7LIOgq1sDpvpj4rQaRlblhzdo-jjrRQ9WYvOojN5AL1FrTd8pPcSUwfxKb3l=s0-d-e1-ft#http://storefront.steampowered.com/v/img/gift/VALVe.gif" alt="VALVE" width="92" height="26" hspace="0" vspace="0" border="0" align="top" class="CToWUd" data-bit="iit"></a>
                    </td>
                    <td width="350" valign="center">
                        <span style="color:#999999;font-size:9px;font-family:Verdana,Arial,Helvetica,sans-serif">© Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries.</span>
                    </td>
                </tr>

                </tbody></table>
        </td>
    </tr>


    </tbody></table>
</html>