.forgotPass-text{
    text-align: center;
}
.forgotPass-text h3{
    font-size: 30px;
}
.forgotPass-text p{
    font-size: 14px;
}
img{
   width: 100%;
}
.login-form p{
    text-align: center;
    margin-top: 30px;
}

.login-form a{
   text-decoration: none;
   color: black;
}

.bottom-content img{
    width: 3%;
    justify-content: center;
    fill: #007bff;
}